<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>001</key>
	<string>[face01]</string>
	<key>002</key>
	<string>[face02]</string>
	<key>003</key>
	<string>[face03]</string>
	<key>004</key>
	<string>[face04]</string>
	<key>005</key>
	<string>[face05]</string>
	<key>006</key>
	<string>[face06]</string>
	<key>007</key>
	<string>[face07]</string>
	<key>008</key>
	<string>[face08]</string>
	<key>009</key>
	<string>[face09]</string>
	<key>010</key>
	<string>[face10]</string>
	<key>011</key>
	<string>[face11]</string>
	<key>012</key>
	<string>[face12]</string>
	<key>013</key>
	<string>[face13]</string>
	<key>014</key>
	<string>[face14]</string>
	<key>015</key>
	<string>[face15]</string>
	<key>016</key>
	<string>[face16]</string>
	<key>017</key>
	<string>[face17]</string>
	<key>018</key>
	<string>[face18]</string>
	<key>019</key>
	<string>[face19]</string>
	<key>020</key>
	<string>[face20]</string>
	<key>021</key>
	<string>[face21]</string>
	<key>022</key>
	<string>[face22]</string>
	<key>023</key>
	<string>[face23]</string>
	<key>024</key>
	<string>[face24]</string>
	<key>025</key>
	<string>[face25]</string>
	<key>026</key>
	<string>[face26]</string>
	<key>027</key>
	<string>[face27]</string>
	<key>028</key>
	<string>[face28]</string>
	<key>029</key>
	<string>[face29]</string>
	<key>030</key>
	<string>[face30]</string>
	<key>031</key>
	<string>[face31]</string>
	<key>032</key>
	<string>[face32]</string>
	<key>033</key>
	<string>[face33]</string>
	<key>034</key>
	<string>[face34]</string>
	<key>035</key>
	<string>[face35]</string>
	<key>036</key>
	<string>[face36]</string>
	<key>037</key>
	<string>[face37]</string>
	<key>038</key>
	<string>[face38]</string>
	<key>039</key>
	<string>[face39]</string>
	<key>040</key>
	<string>[face40]</string>
	<key>041</key>
	<string>[face41]</string>
	<key>042</key>
	<string>[face42]</string>
	<key>043</key>
	<string>[face43]</string>
	<key>044</key>
	<string>[face44]</string>
	<key>045</key>
	<string>[face45]</string>
	<key>046</key>
	<string>[face46]</string>
	<key>047</key>
	<string>[face47]</string>
	<key>048</key>
	<string>[face48]</string>
	<key>049</key>
	<string>[face49]</string>
	<key>050</key>
	<string>[face50]</string>
	<key>051</key>
	<string>[face51]</string>
	<key>052</key>
	<string>[face52]</string>
	<key>053</key>
	<string>[face53]</string>
	<key>054</key>
	<string>[face54]</string>
	<key>055</key>
	<string>[face55]</string>
	<key>056</key>
	<string>[face56]</string>
</dict>
</plist>
