<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enterpriseManage</key>
	<array>
		<dict>
			<key>enterPriseList</key>
			<array>
				<dict>
					<key>recordListId</key>
					<string>8</string>
					<key>recordListName</key>
					<string>世界知名品牌代理商名录</string>
					<key>recordListIcon</key>
					<string>business_logo1_bg</string>
				</dict>
				<dict>
					<key>recordListId</key>
					<string>9</string>
					<key>recordListName</key>
					<string>国产品牌高尔夫球具用品名录</string>
					<key>recordListIcon</key>
					<string>business_logo1_bg</string>
				</dict>
				<dict>
					<key>recordListId</key>
					<string>10</string>
					<key>recordListName</key>
					<string>全国高尔夫综合用品店</string>
					<key>recordListIcon</key>
					<string>business_logo1_bg</string>
				</dict>
			</array>
			<key>enterPriseName</key>
			<string>高尔夫专卖店</string>
			<key>enterPriseId</key>
			<string>1</string>
			<key>enterPriseIcon</key>
			<string>yellow_item1</string>
		</dict>
		<dict>
			<key>enterPriseList</key>
			<array>
				<dict>
					<key>recordListId</key>
					<string>11</string>
					<key>recordListName</key>
					<string>杆身生产商</string>
					<key>recordListIcon</key>
					<string>business_logo2_bg</string>
				</dict>
				<dict>
					<key>recordListId</key>
					<string>12</string>
					<key>recordListName</key>
					<string>球头生产商</string>
					<key>recordListIcon</key>
					<string>business_logo2_bg</string>
				</dict>
				<dict>
					<key>recordListId</key>
					<string>13</string>
					<key>recordListName</key>
					<string>握把生产商</string>
					<key>recordListIcon</key>
					<string>business_logo2_bg</string>
				</dict>
				<dict>
					<key>recordListId</key>
					<string>14</string>
					<key>recordListName</key>
					<string>胶套生产商</string>
					<key>recordListIcon</key>
					<string>business_logo2_bg</string>
				</dict>
				<dict>
					<key>recordListId</key>
					<string>15</string>
					<key>recordListName</key>
					<string>高尔夫铭板生产商</string>
					<key>recordListIcon</key>
					<string>business_logo2_bg</string>
				</dict>
				<dict>
					<key>recordListId</key>
					<string>16</string>
					<key>recordListName</key>
					<string>高尔夫球包生产销售商</string>
					<key>recordListIcon</key>
					<string>business_logo2_bg</string>
				</dict>
				<dict>
					<key>recordListId</key>
					<string>17</string>
					<key>recordListName</key>
					<string>高尔夫球生产销售商</string>
					<key>recordListIcon</key>
					<string>business_logo2_bg</string>
				</dict>
				<dict>
					<key>recordListId</key>
					<string>18</string>
					<key>recordListName</key>
					<string>球TEE生产销售商</string>
					<key>recordListIcon</key>
					<string>business_logo2_bg</string>
				</dict>
				<dict>
					<key>recordListId</key>
					<string>19</string>
					<key>recordListName</key>
					<string>服装生产销售商</string>
					<key>recordListIcon</key>
					<string>business_logo2_bg</string>
				</dict>
				<dict>
					<key>recordListId</key>
					<string>20</string>
					<key>recordListName</key>
					<string>手套生产销售商</string>
					<key>recordListIcon</key>
					<string>business_logo2_bg</string>
				</dict>
				<dict>
					<key>recordListId</key>
					<string>21</string>
					<key>recordListName</key>
					<string>球杆套生产销售商</string>
					<key>recordListIcon</key>
					<string>business_logo2_bg</string>
				</dict>
				<dict>
					<key>recordListId</key>
					<string>22</string>
					<key>recordListName</key>
					<string>帽子、毛巾生产销售商</string>
					<key>recordListIcon</key>
					<string>business_logo2_bg</string>
				</dict>
				<dict>
					<key>recordListId</key>
					<string>23</string>
					<key>recordListName</key>
					<string>鞋袜生产销售商</string>
					<key>recordListIcon</key>
					<string>business_logo2_bg</string>
				</dict>
				<dict>
					<key>recordListId</key>
					<string>24</string>
					<key>recordListName</key>
					<string>高尔夫雨具生产销售商</string>
					<key>recordListIcon</key>
					<string>business_logo2_bg</string>
				</dict>
				<dict>
					<key>recordListId</key>
					<string>25</string>
					<key>recordListName</key>
					<string>奖杯生产供应商</string>
					<key>recordListIcon</key>
					<string>business_logo2_bg</string>
				</dict>
				<dict>
					<key>recordListId</key>
					<string>26</string>
					<key>recordListName</key>
					<string>个人及团体礼品供应商</string>
					<key>recordListIcon</key>
					<string>business_logo2_bg</string>
				</dict>
				<dict>
					<key>recordListId</key>
					<string>27</string>
					<key>recordListName</key>
					<string>其他用品</string>
					<key>recordListIcon</key>
					<string>business_logo2_bg</string>
				</dict>
			</array>
			<key>enterPriseName</key>
			<string>高尔夫球具用品生产、销售商</string>
			<key>enterPriseId</key>
			<string>2</string>
			<key>enterPriseIcon</key>
			<string>yellow_item2</string>
		</dict>
		<dict>
			<key>enterPriseList</key>
			<array>
				<dict>
					<key>recordListId</key>
					<string>28</string>
					<key>recordListName</key>
					<string>草坪（种）供应</string>
					<key>recordListIcon</key>
					<string>business_logo3_bg</string>
				</dict>
				<dict>
					<key>recordListId</key>
					<string>29</string>
					<key>recordListName</key>
					<string>草坪工程</string>
					<key>recordListIcon</key>
					<string>business_logo3_bg</string>
				</dict>
				<dict>
					<key>recordListId</key>
					<string>30</string>
					<key>recordListName</key>
					<string>坪床介质</string>
					<key>recordListIcon</key>
					<string>business_logo3_bg</string>
				</dict>
				<dict>
					<key>recordListId</key>
					<string>31</string>
					<key>recordListName</key>
					<string>草坪养护用品</string>
					<key>recordListIcon</key>
					<string>business_logo3_bg</string>
				</dict>
				<dict>
					<key>recordListId</key>
					<string>32</string>
					<key>recordListName</key>
					<string>草坪机械设备</string>
					<key>recordListIcon</key>
					<string>business_logo3_bg</string>
				</dict>
				<dict>
					<key>recordListId</key>
					<string>33</string>
					<key>recordListName</key>
					<string>草坪喷灌设备</string>
					<key>recordListIcon</key>
					<string>business_logo3_bg</string>
				</dict>
				<dict>
					<key>recordListId</key>
					<string>34</string>
					<key>recordListName</key>
					<string>草坪养护设备维修和保养</string>
					<key>recordListIcon</key>
					<string>business_logo3_bg</string>
				</dict>
			</array>
			<key>enterPriseName</key>
			<string>草坪管理</string>
			<key>enterPriseId</key>
			<string>3</string>
			<key>enterPriseIcon</key>
			<string>yellow_item3</string>
		</dict>
		<dict>
			<key>enterPriseList</key>
			<array>
				<dict>
					<key>recordListId</key>
					<string>35</string>
					<key>recordListName</key>
					<string>球场总规、设计与工程施工</string>
					<key>recordListIcon</key>
					<string>business_logo4_bg</string>
				</dict>
				<dict>
					<key>recordListId</key>
					<string>36</string>
					<key>recordListName</key>
					<string>练习场工程施工与设计</string>
					<key>recordListIcon</key>
					<string>business_logo4_bg</string>
				</dict>
				<dict>
					<key>recordListId</key>
					<string>37</string>
					<key>recordListName</key>
					<string>球场照明系统</string>
					<key>recordListIcon</key>
					<string>business_logo4_bg</string>
				</dict>
				<dict>
					<key>recordListId</key>
					<string>38</string>
					<key>recordListName</key>
					<string>土方沙石工程供应</string>
					<key>recordListIcon</key>
					<string>business_logo4_bg</string>
				</dict>
				<dict>
					<key>recordListId</key>
					<string>39</string>
					<key>recordListName</key>
					<string>球场雷电预警与防护系统</string>
					<key>recordListIcon</key>
					<string>business_logo4_bg</string>
				</dict>
				<dict>
					<key>recordListId</key>
					<string>40</string>
					<key>recordListName</key>
					<string>球场给、排水系统</string>
					<key>recordListIcon</key>
					<string>business_logo4_bg</string>
				</dict>
				<dict>
					<key>recordListId</key>
					<string>41</string>
					<key>recordListName</key>
					<string>园林景观设计与工程施工</string>
					<key>recordListIcon</key>
					<string>business_logo4_bg</string>
				</dict>
			</array>
			<key>enterPriseName</key>
			<string>球场设计与工程施工</string>
			<key>enterPriseId</key>
			<string>4</string>
			<key>enterPriseIcon</key>
			<string>yellow_item4</string>
		</dict>
		<dict>
			<key>enterPriseList</key>
			<array>
				<dict>
					<key>recordListId</key>
					<string>42</string>
					<key>recordListName</key>
					<string>综合设备专家</string>
					<key>recordListIcon</key>
					<string>business_logo5_bg</string>
				</dict>
				<dict>
					<key>recordListId</key>
					<string>43</string>
					<key>recordListName</key>
					<string>练习场场地器材</string>
					<key>recordListIcon</key>
					<string>business_logo5_bg</string>
				</dict>
				<dict>
					<key>recordListId</key>
					<string>44</string>
					<key>recordListName</key>
					<string>练习场打位器材</string>
					<key>recordListIcon</key>
					<string>business_logo5_bg</string>
				</dict>
				<dict>
					<key>recordListId</key>
					<string>45</string>
					<key>recordListName</key>
					<string>模拟高尔夫系统</string>
					<key>recordListIcon</key>
					<string>business_logo5_bg</string>
				</dict>
				<dict>
					<key>recordListId</key>
					<string>46</string>
					<key>recordListName</key>
					<string>高尔夫球电动车</string>
					<key>recordListIcon</key>
					<string>business_logo5_bg</string>
				</dict>
				<dict>
					<key>recordListId</key>
					<string>47</string>
					<key>recordListName</key>
					<string>球车配件及蓄电池供应</string>
					<key>recordListIcon</key>
					<string>business_logo5_bg</string>
				</dict>
			</array>
			<key>enterPriseName</key>
			<string>球场设备、设施与用品</string>
			<key>enterPriseId</key>
			<string>5</string>
			<key>enterPriseIcon</key>
			<string>yellow_item5</string>
		</dict>
		<dict>
			<key>enterPriseList</key>
			<array>
				<dict>
					<key>recordListId</key>
					<string>48</string>
					<key>recordListName</key>
					<string>高尔夫博览会组织</string>
					<key>recordListIcon</key>
					<string>business_logo6_bg</string>
				</dict>
				<dict>
					<key>recordListId</key>
					<string>49</string>
					<key>recordListName</key>
					<string>高尔夫平面设计、策划</string>
					<key>recordListIcon</key>
					<string>business_logo6_bg</string>
				</dict>
				<dict>
					<key>recordListId</key>
					<string>50</string>
					<key>recordListName</key>
					<string>高尔夫管理软件开发</string>
					<key>recordListIcon</key>
					<string>business_logo6_bg</string>
				</dict>
				<dict>
					<key>recordListId</key>
					<string>51</string>
					<key>recordListName</key>
					<string>高尔夫旅游</string>
					<key>recordListIcon</key>
					<string>business_logo6_bg</string>
				</dict>
				<dict>
					<key>recordListId</key>
					<string>52</string>
					<key>recordListName</key>
					<string>高尔夫保健护理机构</string>
					<key>recordListIcon</key>
					<string>business_logo6_bg</string>
				</dict>
				<dict>
					<key>recordListId</key>
					<string>53</string>
					<key>recordListName</key>
					<string>高尔夫教育、培训机构</string>
					<key>recordListIcon</key>
					<string>business_logo6_bg</string>
				</dict>
				<dict>
					<key>recordListId</key>
					<string>54</string>
					<key>recordListName</key>
					<string>平面媒体</string>
					<key>recordListIcon</key>
					<string>business_logo6_bg</string>
				</dict>
				<dict>
					<key>recordListId</key>
					<string>55</string>
					<key>recordListName</key>
					<string>网路媒体</string>
					<key>recordListIcon</key>
					<string>business_logo6_bg</string>
				</dict>
				<dict>
					<key>recordListId</key>
					<string>56</string>
					<key>recordListName</key>
					<string>电视媒体</string>
					<key>recordListIcon</key>
					<string>business_logo6_bg</string>
				</dict>
				<dict>
					<key>recordListId</key>
					<string>57</string>
					<key>recordListName</key>
					<string>高尔夫综合管理机构</string>
					<key>recordListIcon</key>
					<string>business_logo6_bg</string>
				</dict>
				<dict>
					<key>recordListId</key>
					<string>58</string>
					<key>recordListName</key>
					<string>会籍销售</string>
					<key>recordListIcon</key>
					<string>business_logo6_bg</string>
				</dict>
				<dict>
					<key>recordListId</key>
					<string>59</string>
					<key>recordListName</key>
					<string>球场预定</string>
					<key>recordListIcon</key>
					<string>business_logo6_bg</string>
				</dict>
				<dict>
					<key>recordListId</key>
					<string>60</string>
					<key>recordListName</key>
					<string>高尔夫赛事策划组织</string>
					<key>recordListIcon</key>
					<string>business_logo6_bg</string>
				</dict>
				<dict>
					<key>recordListId</key>
					<string>61</string>
					<key>recordListName</key>
					<string>高尔夫主题酒店</string>
					<key>recordListIcon</key>
					<string>business_logo6_bg</string>
				</dict>
			</array>
			<key>enterPriseName</key>
			<string>高尔夫服务推广与管理</string>
			<key>enterPriseId</key>
			<string>6</string>
			<key>enterPriseIcon</key>
			<string>yellow_item6</string>
		</dict>
	</array>
</dict>
</plist>
